<!DOCTYPE html>
<html lang="eng" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Playlist</title>
    <link href="content\css\style.css" rel="stylesheet" type="text/css" />
    <script src="app\lib\angular.min.js"></script>
    <script src="app\lib\app.js"></script>
  </head>
  <body>
    <ng-include src="'header.html'"></ng-include>
    <div ng-controller="AppController">
      <input type="text" ng-model="search" />
      <ul>
        <li ng-repeat="item in items  | orderBy: 'name' | filter: search">
          {{item.name}} - {{item.price | currency: '₹'}}
        </li>
      </ul>
    </div>

  </body>
</html>
