<div class="content">

  <button ng-click="order='name'">Order By Name</button>
  <button ng-click="order='price'">Order By Rate</button>
  <input type="text" placeholder="Search for Item" ng-model="search" />
  <ul>
    <li ng-repeat="item in items  | orderBy: order | filter: search" ng-show="item.available">
      <h3>{{item.name}} - {{item.price | currency: '₹'}}</h3>
      <div class="remove" ng-click="removeItem(item)">X</div>
      <span class="item" style="background:{{item.color}}"> {{item.type}}</span>
    </li>
  </ul>

</div>
